APP_PORT_MAPPING=5301:8001
PROMETHEUS_PORT_MAPPING=9001:9001
LOG_VOLUME=/var/log/urban_mcp
MEM_LIMIT=8G
MEMSWAP_LIMIT=8G
CUSTOM_NETWORK=default
MCP_CONFIG_PATH=/app/config.yaml
REAL_MCP_CONFIG_PATH=/home/user/idu_api/urban_mcp/config.yaml