app:
  debug: false
  uvicorn: # only used when server is started via command
    host: 0.0.0.0
    port: 8001
    reload: false
    forwarded_allow_ips:
      - 127.0.0.1
db:
  master:
    host: localhost
    port: 5432
    database: urban_db
    user: postgres
    password: postgres
    pool_size: 10
    debug: false
  replicas: []
auth:
  verify: true
  server_url: http://keycloak_server:3000/realms/myrealm
  client_id: urban-mcp
  verify_aud: false
  valid_audiences:
    - urban-mcp
fileserver: # optional, required for tools that create/delete projects or manage project files
  url: http://localhost:9000
  projects_bucket: projects.images
  access_key: ''
  secret_key: ''
  region_name: us-west-rack-2
  connect_timeout: 1
  read_timeout: 20
observability:
  logging:
    root_logger_level: INFO # optional, default INFO
    stderr_level: INFO # optional
    files: # optional
      - filename: logs/info.log
        level: INFO
    exporter: # optional
      endpoint: http://localhost:4317
      level: INFO
      tls_insecure: true
  prometheus: # optional
    host: localhost
    port: 9090
  jaeger: # optional
    endpoint: http://localhost:4318/v1/traces
broker: # optional, required for tools that publish project/scenario update events
  client_id: urban-mcp
  bootstrap_servers: localhost:9092,localhost:9093,localhost:9094
  schema_registry_url: http://localhost:8080
  enable_idempotence: true
  max_in_flight: 5
